**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
# Ignora arquivos e diretórios comuns que não são necessários para o build
node_modules
vendor
.dockerignore
.git
.gitignore
.env
*.md
documentacao

