body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #0030ff;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header .logo {
    /* position: absolute;
    left: 1rem; */
    max-height: 40px;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav {
    /* display: none; */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #08aef0;
}


footer {
    background-color: #0030ff;
    color: #fff;
    text-align: center;
    padding: 0.2rem;
    margin-top: auto;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}

form {
    background-color: #d8edf7;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
}

form h2 {
    margin-bottom: 1rem;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 0.5rem;
    background-color: #0030ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

form button:hover {
    background-color: #08aef0;
}





.link-cadastro,
.link-login {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    display: block;
}

.link-cadastro {
    background-color: green;
}

.link-cadastro:hover {
    background-color: #1cf04a;
}

.link-login {
    background-color: blue;
}

.link-login:hover {
    background-color: #08aef0;
}


#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    z-index: 9999;
    /* Garante que a div esteja acima de todos os outros elementos */
    display: none;
    /* Inicialmente escondida */
}

#error {
    text-align: center;
    color: red;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    display: none;
    /* Inicialmente escondida */
}

/* Estilo geral da tabela */
.table-container {
    overflow-x: auto;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

/* Estilo para o cabeçalho da tabela */
th {
    background-color: #08aef0;
    color: white;
    padding: 10px;
    text-align: left;
}

/* Estilo para as células da tabela */
td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Alterna a cor de fundo das linhas */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Adiciona uma borda ao passar o mouse sobre uma linha */
tr:hover {
    background-color: #ddd;
}

/* Estilo do link de visualização */
a {
    color: #08aef0;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo do link de visualização ao passar o mouse */
a:hover {
    text-decoration: underline;
}

/* Estilo para a tabela quando não há dados */
#tabela-loterias {
    text-align: center;
    font-size: 1.2em;
    color: #555;
}
.jogo-vencedor{
    background-color: #1cf04a  !important;
}

@media (max-width: 600px) {
    form {
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        display: block;
        margin-top: 1rem;
    }

    nav {
        display: block;
        margin-top: 1rem;
    }

    nav ul {
        /* flex-direction: column; */
        align-items: flex-start;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}